src/__pycache__/Inicio.cpython-310.pyc
src/Funcoes/__pycache__/cadastro_eventos.cpython-310.pyc
src/Funcoes/__pycache__/CRUD.cpython-310.pyc
src/Funcoes/__pycache__/metas_saude.cpython-310.pyc
src/BD/pets.txt
src/Funcoes/__pycache__/SugestoesPersonalizadas.cpython-310.pyc
